# Description:
#   Automates handling of Dependabot pull requests by auto-approving them.
#   Only runs when the PR author is dependabot[bot].
#
# Reference:
#   https://docs.github.com/en/code-security/dependabot/working-with-dependabot/automating-dependabot-with-github-actions#enable-auto-merge-on-a-pull-request
#
# Permissions:
#   pull-requests: write  # to approve the PR
#
# Required Secrets:
#   None (uses automatic GITHUB_TOKEN)
#
# Usage Example:
#   jobs:
#     dependabot:
#       uses: anchore/workflows/.github/workflows/dependabot-automation.yaml@main


name: Dependabot Automation

on:
  # for checks in this repo (anchore/workflows)
  pull_request:

  # for use in external repos
  workflow_call:
    inputs:
      approve:
        default: true
        description: "Whether to auto-approve the PR"
        type: boolean

permissions:
  pull-requests: write

jobs:
  automation:
    # Runner definition: workflows/.github/runs-on.yml
    runs-on: runs-on=${{ github.run_id }}/runner=tiny
    if: github.actor == 'dependabot[bot]'
    steps:

      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Auto-approve PR
        if: inputs.approve == true
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
